<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/navHome.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>
<body> -->
     <nav class="navbar navbar-expand-md sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">My Portfolio🖤</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="projects.html">Projects</a>
        </li>
      <li class="nav-item">
          <a class="nav-link " href="certifications.html">Certifications</a>
        </li>
          <li class="nav-item ">
          <a class="nav-link " href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html> 